* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2em;
}
p {
  font-size: 1.5em;
}
/* font-size: izracunati i ubaciti u em velicinu.
1em = 16px
px/16=em 
ili ovako
Viewport is the browser window size. 1vw = 1% of viewport width. If the viewport is 50cm wide, 1vw is 0.5cm*/

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, minmax(20px, auto));
  grid-auto-rows: repeat(autofill);

  grid-template-areas:
    ". h h h h h h h img img img img"
    "p p p p p p p p img img img img"
    ". h2 h2 l l l l l l l l ."
    ". d1 d1 p1 p1 p1 p1 p1 p1 p1 p1 ."
    ". d2 d2 p2 p2 p2 p2 p2 p2 p2 p2 .";

  /* gap: 20px; */
}
/* pocetno zaglavlje sa imenom */
.h {
  display: flex;
  justify-content: space-evenly;
  grid-area: h;
  height: max-content;
  background-color: cornflowerblue;
  color: white;
  text-align: center;
}
/* link ka pdf dokumentu */
.h a {
  font-size: 1.5em;
  font-style: italic;
  color: white;
  text-decoration: none;
  padding: 20px;
}
.h a:hover {
  background-color: white;
  color: cornflowerblue;
}
/* profilna slika  */
.img {
  grid-area: img;
  justify-self: center;
}
/* osnovni podaci */
.p {
  grid-area: p;
  justify-self: center;
}

.p p {
  padding: 0.5em;
}
/* naslovi oblasti */
.h2 {
  grid-area: h2;
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
  text-align: center;
}
.l {
  grid-area: l;
  border-bottom: 3px solid cornflowerblue;
}
/* kraj naslovi oblasti */

/* datumi i podaci */
.d1 {
  grid-area: d1;
  text-align: center;
  padding: 15px;
}
.p1 {
  grid-area: p1;
  padding: 15px;
}
.d2 {
  grid-area: d2;
  text-align: center;
  padding: 15px;
}
.p2 {
  grid-area: p2;
  padding: 15px;
}
@media screen and (max-width: 770px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "h"
      "img"
      "p"
      "h2"
      "d1"
      "p1"
      "d2"
      "p2";
  }
  .h2 {
    text-align: center;
  }
  .h {
    flex-direction: column;
    width: 100%;
  }
}
