* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: arial, x-locale-body, sans-serif;
  letter-spacing: -0.0027777778rem;
  font-size: 100%;
  color: #1b1b1b;
  margin: auto;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.2em;
}
p {
  font-size: 1em;
  text-align: justify;
  line-height: 1.5;
}

.container {
  display: grid;
  width: 85vw;
  margin: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, minmax(15px, auto));
  grid-auto-rows: minmax(20px, auto);

  grid-template-areas:
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "name name name name name name name name img img img img"
    "born born born data1 data1 data1 data1 data1 img img img img"
    "adress adress adress data2 data2 data2 data2 data2 img img img img"
    "state state state data3 data3 data3 data3 data3 img img img img"
    "phone phone phone data4 data4 data4 data4 data4 img img img img"
    "mail mail mail data5 data5 data5 data5 data5 img img img img";

  /* gap: 20px; */
}
/* navigacija */
.nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2em;
  background-color: #f4f4f4;
}
.nav a {
  text-decoration: none;
  color: #1b1b1b;
  font-weight: bold;
  font-size: 1.2em;
}
.nav a:last-child {
  color: cornflowerblue;
}

.nav a:hover {
  color: #1b1b1b;
  background-color: transparent;
  text-decoration: underline;
}
.hamburger-menu {
  display: none;
  grid-area: hm;
}
/* kraj navigacije */

/* pocetno zaglavlje sa imenom */
.name {
  grid-area: name;
  height: min-content;
  padding: 10px 0;
  background-color: cornflowerblue;
  color: white;
  text-align: center;
}

/* profilna slika  */
.img {
  grid-area: img;
  justify-self: end;
  padding-left: 50px;
}
img {
  border-radius: 20%;
}
/* osnovni podaci */
.born {
  grid-area: born;
}
.data1 {
  grid-area: data1;
}
.adress {
  grid-area: adress;
}
.data2 {
  grid-area: data2;
}
.state {
  grid-area: state;
}
.data3 {
  grid-area: data3;
}
.phone {
  grid-area: phone;
}
.data4 {
  grid-area: data4;
}
.mail {
  grid-area: mail;
}
.data5 {
  grid-area: data5;
}
.born,
.adress,
.state,
.phone,
.mail {
  padding: 0 15px;
}

.naslov {
  grid-column: 1 / span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  color: white;
  padding: 8px;
  text-align: center;
}
.line {
  grid-column: 4 / -1;
  border-bottom: 3px solid cornflowerblue;
}

/* datumi i podaci */
.date {
  grid-column: 1 / span 3;
  justify-self: center;
  padding: 15px;
}
.description {
  grid-column: 4 / -1;
  padding: 15px 0;
}

.footer-layout {
  grid-column: 1 / -1;
  /* width: 100%; */
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 950px) {
  .container {
    width: 85vw;
    margin: auto;
    grid-template-columns: 100%;
    grid-template-rows: repeat(14, minmax(15px, auto));
    grid-template-areas:
      "hm"
      "img"
      "name"
      "born"
      "data1"
      "adress"
      "data2"
      "state"
      "data3"
      "phone"
      "data4"
      "mail"
      "data5";
  }
  .nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: fit-content;
    padding: 15px;
    position: absolute;
    margin-block-start: 50px;
    font-size: 0.85em;
    line-height: 1.75;
  }
  .hamburger-menu {
    display: flex;
    justify-content: end;
    margin-block-start: 21px;
    margin-inline-end: 21px;
  }
  .hamburger-menu i {
    font-size: 1.4em;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  p {
    font-size: 0.85em;
    text-align: justify;
  }
  .img {
    justify-self: center;
    margin-inline-end: 35px;
  }

  img {
    border-radius: 30%;
    padding: 20px;
    width: 50vw;
  }
  .born,
  .adress,
  .state,
  .phone,
  .mail,
  .data1,
  .data2,
  .data3,
  .data4,
  .data5 {
    padding: 2px 15px;
    justify-self: center;
  }

  .h2 {
    text-align: center;
  }

  .name {
    flex-direction: column;
    width: 100%;
  }

  .naslov,
  .date,
  .description {
    padding: 0.8em 0;
    grid-column: auto / -1;
  }
}
